:root {
  --primary: #1E2749;
  --secondary: #273469;
  --accents: #E4D9FF;
  --text1: #EBEBFF;
  --test: #353946;
}

* {
  background-color: var(--primary);
  color: var(--text1);
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

header {
  margin: 16px;
  display: flex;
}

li {
  list-style: none;
  margin: auto 36px;
  border-bottom: 1px solid var(--accents);
  background-image: linear-gradient(to top, var(--accents) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out,
              color 1s ease;
  color: var(--text1);
}

li:hover{
  background-position: bottom;
  color: var(--primary);
  cursor: pointer;
}

ul {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.callCard {
  margin: auto 16px;
  font-size: 48px
}

.aboutHead{
  display: flex;
  justify-content: start;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  align-items: left;
}

.fullName{
  margin-left: 52px;
}

.firstName{
  margin-bottom: 0px;
  font-size: 84px;
  font-weight: bold;
  color: var(--accents);
}

.lastName{
  margin-top: 0px;
  font-size: 84px;
  font-weight: bold;
  color: var(--accents);
}

.aboutText {
  width:45%;
  text-align: left;
  margin: auto;
}

img {
  margin: auto 0px;
}
/*
button {
  all: unset;
  border: 1px solid var(--accents);
  border-radius: 4px;
  color: var(--text1);
  background-color: var(--primary);
  transition: color 1s ease, 
              background-color .75s ease;
  width: 5rem;
  text-align: center;
 
}

button:hover {
  color: var(--primary);
  background-color: var(--accents);
  cursor: pointer;
  background-position: bottom;
}

.inner {
  background-image: linear-gradient(to top, var(--accents) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out,
              color 1s ease;
  color: var(--text1);
  width: 5rem;
  text-align: center;
  border-bottom: 1px solid var(--accents);
}

.inner:hover {
  background-position: bottom;
  color: var(--primary);
  cursor: pointer;
}
*/





